@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css";


body {
  margin: 0;
  background: lightgray;
}

/*
App Layout Grid
*/

#app-container {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  display: grid;
  grid-template:
    "m r" auto
    / minmax(250px, auto) max-content;
  grid-gap: 1px;
}

#main-column {
  grid-area: m;
  display: grid;
  grid-template:
    "t" max-content
    "c" minmax(250px, auto)
    "b" max-content
    / minmax(250px, auto);
  grid-gap: 1px;
}

#right-bar {
  grid-area: r;
  background: lightgray;
  display: flex;
  flex-direction: row;
}

#top-bar {
  grid-area: t;
  background: lightgray;
}

#bottom-bar {
  grid-area: b;
  background: lightgray;
}

#map-container {
  grid-area: c;
  //z-index: -1;
}

#credits-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.credit-item {
  background: #f8f9fa;
  color: #343a40;
  border: 5px #ff0000;
  flex-grow: 1;
  align-content: center;
  text-align: center;
}

.flexbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexbar-item {
  margin: 5px;
}

#sort-filter-collapsed {
  background: lightgray;
  cursor: pointer;
  font-size: 12pt;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
  height: 100%;
}

#query-console-container {
  font-family: Arial, Helvetica, sans-serif;
	background-color: #cecedb;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#query-console-collapsed {
	line-height: 32px;
	text-align: left;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-content: baseline;
}

#query-console-title {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

#query-function {
  display: inline-flex;
  align-items: center;
}

#query-command-bar {
  padding: 10px;
}

#query-textarea-container {
  display: flex;
  background: #1971c2;
}

#query-textarea {
  font-family: Consolas 'Lucida Console' 'Cascadia Code' monospace;
  font-size: 13pt;
  flex: auto;
  resize: none;
  outline: none;
  border-radius: 0;
  border: none;
  background: #1971c2;
  color: #FFFFFF;
  width: auto;
  padding: 15px;
}

#query-textarea::placeholder {
  color: #eeeeee;
  opacity: 1;
}

/*
Controls the CSS for projection buttons when there is no available projection
*/

.disabled {
  opacity: 40%;
}

.leaflet-control-view-center {
  background-image: url("https://raw.github.com/pwldp/leaflet.viewcenter/master/icon-viewcenter.png");
}
.sidebar {
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.sidebar-collapsed {
  width: 200px;
  height: 48px;
  background: #f8f9fa;
  border-radius: 5px;
  padding-left: 5px;
  padding-bottom: 2px;
  display: grid;
  grid-template-columns: auto 20px;
}

.sidebar-expanded {
  width: 800px;
  height: 98px;
  background: #f8f9fa;
  display: grid;
  grid-template-columns: auto 20px;
  border-radius: 5px;
}

.sidebar-button {
  font: bold 18px "Lucida Console", Monaco, monospace;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
}

.sidebar-expanded .sidebar-button {
  padding: 2px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: thin solid #ccc;
  background-color: #fff;
}

.sidebar-collapsed .sidebar-button {
  font: bold 18px "Lucida Console", Monaco, monospace;
  margin-left: 5px;
  margin-bottom: -2px;
  padding: 2px;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: thin solid #ccc;
  background-color: #fff;
}

.sidebar-button:hover {
  background-color: #ccc;
}

.panelSection {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 10px;
}

.panelHeader {
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  display: block;
}

.panelSectionHeader {
  display: inline;
  font-family: sans-serif;
}

.panelItem {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.panelSectionTitle {
  display: inline;
}

.panelSectionCheck {
  float: right;
  margin-top: -12px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.panelSortAscCheck {
  float: right;
  margin-right: -10px;
}

.resultHeader {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  font-family: sans-serif;
  font-weight: bold;
  padding: 10px;
  width: 275px;
}

.resultHeaderCheck {
  justify-content: flex-end;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: 10px;
}

.resultsList {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  width: 275px;
  flex-shrink: 1;
  height: auto;
  overflow-y: scroll;
}

.resultContainer {
  display: grid;
  grid-template: "ra rb"
                 "rc rc"
                 / 20% 80%;
  border-bottom: 3px double rgba(0, 0, 0, 0.4);
  padding: 10px;
}

.resultSub {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: small;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 3px;

  word-wrap: break-word;
}

.resultImgDiv {
  grid-area: ra;
}

.resultData {
  grid-area: rb;
}

.resultLinks {
  grid-area: rc;
}

.resultImg {
  max-width: 32px;
  max-height: 96px;
}

summary {
  cursor: pointer;
  width: auto;
  padding: auto;
  vertical-align: center;
}

/*
GeoTiff Modal Container
*/
#GeoTiffModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 30;
  background-color: white;
  width: 250px;
  max-width: 80%;
}

#GeoTiffModal.active {
  transform: translate(-50%, -50%) scale(1);
}

#GeoTiffModalHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

#GeoTiffModalHeader #GeoTiffTitle {
  font-size: 1.20rem;
  font-weight: bold;
}

#GeoTiffModalHeader #GeoTiffCloseButton{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#GeoTiffAssetsDiv {
  position: relative;
  padding: 10px 15px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  
}

#GeoTiffAsset {
  height: 300px;
  position: relative;
  align-items: center;
}

#GeoTiffModalFooter {
    backgroundColor: "#f8f9fa";
    overflow: "hidden";
    display: "flex";
    alignItems: "flex-start";
    flexDirection: "column";
    width: 275;
    maxHeight: "100vh";
    wordWrap: "break-word";
    flexShrink: 1;
    padding: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: small;
    padding-bottom: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 3px;
}

#GeoTiffOverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
  z-index: 10;
}

#GeoTiffOverlay.active {
  opacity: 1;
  pointer-events: all;
}

