@import "https://unpkg.com/leaflet@1.7.1/dist/leaflet.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css";
@import "~@trussworks/react-uswds/lib/index.css";
@import "~@trussworks/react-uswds/lib/uswds.css";

/*
 * App Layout (Flex)
 */

html,
body,
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  min-height: 0;

  background: lightgray;
  overflow-y: hidden;
}

.scroll-parent {
  min-height: 0;
}

a:link {
  text-decoration: none;
}

#header,
#footer {
  flex-shrink: 0;
}

.flex {
  flex-grow: 1;
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.red {
  color: red;
}

.white {
  background-color: white;
}

#right-bar {
  flex-shrink: 0;
  background: lightgray;
  display: flex;
  flex-direction: row;
}

/*
 * Loading
 */
.loading-slate {
  margin: auto;
  text-align: center;
}



/*
 * Map
 */

#map-area {
  flex-grow: 1;
}

#map-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/*
 * Menu Bar
 */

#menu-bar {
  color: white;
  background-color: #03989e;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 0px 7px;
}

.menu-item {
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.menu-item:hover {
  border-bottom: 2px solid white;
  margin-bottom: 3px;
}

.menu-item-text {
  margin: 0px 4px;
}

.menu-link {
  color: white;
}

/*
 * Toolbar
 */

.flexbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flexbar-item {
  margin: 5px;
}

/*
 * Query Console
*/

#query-console-container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cecedb;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#query-console-title {
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  line-height: 32px;
  padding-left: 10px;
  cursor: pointer;
}

#query-function {
  display: inline-flex;
  align-items: center;
}

#query-command-bar {
  padding: 10px;
}

#query-textarea-container {
  display: flex;
  background: #1971c2;
}

#query-textarea {
  font-family: Consolas "Lucida Console" "Cascadia Code" monospace;
  font-size: 13pt;
  flex: auto;
  resize: none;
  outline: none;
  border-radius: 0;
  border: none;
  background: #1971c2;
  color: #ffffff;
  width: auto;
  padding: 15px;
}

#query-textarea::placeholder {
  color: #eeeeee;
  opacity: 1;
}

/*
Controls the CSS for projection buttons when there is no available projection
*/

.disabled {
  opacity: 40%;
}

.leaflet-control-view-center {
  background-image: url("https://raw.github.com/pwldp/leaflet.viewcenter/master/icon-viewcenter.png");
}

/*
 * Sidebar
 */

#sidebar-collapsed {
  background: lightgray;
  cursor: pointer;
  font-size: 12pt;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 600;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.panelSection {
  padding: 10px;
}

.panelHeader {
  color: black;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica" ,"Roboto", "Arial", sans-serif;
  font-size: 100%;
}

.panelBar {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.panelSectionHeader {
  font-family: sans-serif;
}

.panelItem {
  margin-top: 10px;
  margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.panelSectionCheck {
  float: right;
  margin-top: -12px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.panelSortAscCheck {
  float: right;
  margin-right: -10px;
}

/*
 * Results Panel
 */

#footprintResults {
  background-color: #f8f9fa;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
}

.resultPane {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  font: 14px sans-serif;
  color: dimgray;
  padding: 10px 10px 2px 10px;
  width: 280px;
}

#resultHeader {
  color: black;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica" ,"Roboto", "Arial", sans-serif;
  font-size: 100%;
}

#resultHeaderCheck {
  justify-content: flex-end;
  margin-top: -12px;
  margin-bottom: -10px;
}

#collectionSelectPane {
  padding-right: 15px;
}

#collectionSelectPane .multilineSelect {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
}

.multilineSelect .MuiInputBase-input {
  white-space: unset !important;
}

#xLoadedPane {
  padding-bottom: 4px;
}

#resultsList {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  overflow-y: scroll;
  width: 280px;
}

.resultContainer {
  width: 230px;
  display: grid;
  grid-template:
    "ra rb"
    "rc rc"
    / 20% 80%;
}

.pyGeoResultContainer {
  width: 230px;

}

.resultSub {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: small;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 3px;
  word-wrap: break-word;
}

.resultImgDiv {
  grid-area: ra;
}

.resultData {
  grid-area: rb;
}

.resultLinks {
  grid-area: rc;
}

.resultImg {
  max-width: 32px;
  max-height: 96px;
}

#resultLoader {
  padding: 10px;
  border-top: 1px solid lightgrey;
}

#loadMore {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loadMoreButton {
  margin-right: 8px;
}

#xPerRequest {
  display: flex;
  flex-direction: row;
  padding-right: 7px;
}

#xPerRequest .thinSelect {
  margin-right: 7px;
}

.thinSelect .MuiInputBase-input {
  padding: 4px 9px 4px 9px;
  color: dimgrey;
}

summary {
  cursor: pointer;
  width: auto;
  padding: auto;
  vertical-align: center;
}

/*
 * GeoTiff Modal Container
 */

#GeoTiffModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 30;
  background-color: white;
  width: 250px;
  max-width: 80%;
}

#GeoTiffModal.active {
  transform: translate(-50%, -50%) scale(1);
}

#GeoTiffModalHeader {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

#GeoTiffModalHeader #GeoTiffTitle {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

#GeoTiffModalHeader #GeoTiffCloseButton {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

#GeoTiffAssetsDiv {
  position: relative;
  padding: 10px 15px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#GeoTiffAsset {
  max-width: 100%;
  max-height: 100%;
  height: 300px;
  width: 300px;
  position: relative;
  align-items: center;
}

#GeoTiffModalFooter {
  padding: 10px;
  flex-shrink: 1;
}

#GeoTiffOverlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 10;
}

#GeoTiffOverlay.active {
  opacity: 1;
  pointer-events: all;
}

/*
Help Box Inside Search and Filter
*/
#helpBoxBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.helpBoxContent, .subPopup {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.helpButton {
  margin: 10px 0;
  padding: 15px;
  flex: 1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #351370;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;

  &:hover {
    background-color: #113851;
  }
}
.closeButton {
  margin: 10px 0;
  padding: 15px;
  flex: 1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e10e19;
  color: white;
  font-weight: bold;
  transition: background-color 0.8s ease;

  &:hover {
    background-color: #980000;
  }
}

.contentBox h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contentBox p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}
